{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }}
   <p style="color:red;"><b> {{ .editError }} </b></p> 
   <h2>Edit Ticket Information</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .tickets.TicketID }}" />
      <label> Title </label><input type="text" name="title" value="{{ .tickets.Title }}"  /><br />
      <label> Ticket Type </label><input type="text" name="ticketType" value="{{ .tickets.TicketType }}"  /><br />
      <label> Status </label><input type="text" name="status" value="{{ .tickets.Status }}"  /><br />
      <label> CreatedAt </label><input type="text" name="createdAt" value="{{ .tickets.CreatedAt }}"  /><br />
      <label> Description </label><input type="text" name="description" value="{{ .tickets.Description }}"  /><br />
      <label> Finder </label><input type="text" name="finderID" value="{{ .tickets.FinderID }}"  /><br />
      <label> Assigned To </label><input type="text" name="assignedTo" value="{{ .tickets.AssignedTo }}"  /><br />
      <label> Priority </label><input type="text" name="priority" value="{{ .tickets.Priority }}"  /><br />
      <input type="submit" value="Update Ticket" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}