{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }}
   <p style="color:red;"><b> {{ .editError }} </b></p> 
   <h2>Edit Ticket Information</h2>
   <div class="container">  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .tickets.TicketID }}" />
      <label><b> Title</b> </label><input type="text" name="title" value="{{ .tickets.Title }}"  /><br />
      <label> <b>Ticket Type</b> </label><br />
      <select name="ticketType" id="ticketType">
        <option {{ if eq .tickets.TicketType "Development" }} selected="selected"{{ end }} value="Development">Development</option>
        <option {{ if eq .tickets.TicketType "Testing" }} selected="selected"{{ end }} value="Testing">Testing</option>
        <option {{ if eq .tickets.TicketType "Production" }} selected="selected"{{ end }} value="Production">Production</option>
      </select><br />
      <label> <b>Status</b> </label><br />
      <select name="status" id="status"><br />
        <option {{ if eq .tickets.Status "Open" }} selected="selected"{{ end }} value="Open">Open</option>
        <option {{ if eq .tickets.Status "Resolved" }} selected="selected"{{ end }} value="Resolved">Resolved</option>
        <option {{ if eq .tickets.Status "Closed" }} selected="selected"{{ end }} value="Closed">Closed</option>
      </select><br />
      <label> <b>CreatedAt</b> </label><br /><label>   {{ .tickets.CreatedAt }} </label><br />
      <label> <b>Description</b> </label><input type="text" name="description" value="{{ .tickets.Description }}"  /><br />
      <label> <b>Finder</b> </label><input type="text" name="finderID" value="{{ .tickets.FinderID }}"  /><br />
      <label> <b>Assigned</b> To </label><br />
      <select name="assignedTo" id="assignedTo">
      {{$assigned:=.tickets.AssignedTo}}
        {{range $element := .users }}
          <option value="{{ $element }}" {{ if eq $element $assigned }} selected="selected"{{ end }}>{{ $element }}</option>
        {{end}}
      </select><br />
      <label> <b>Priority</b> </label><br />
      <select name="priority" id="priority"><br />
        <option {{ if eq .tickets.Status "High" }} selected="selected"{{ end }} value="High">High</option>
        <option {{ if eq .tickets.Status "Medium" }} selected="selected"{{ end }} value="Medium">Medium</option>
        <option {{ if eq .tickets.Status "Low" }} selected="selected"{{ end }} value="Low">Low</option>
      </select><br />
      <input type="submit" value="Update Ticket" />
    </form><br /> 
    </div> 
  {{ template "Footer" }}
{{ end }}