{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Ticket Information</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .TicketID }}" />
      <label> Title </label><input type="text" name="title" value="{{ .Title }}"  /><br />
      <label> Ticket Type </label><input type="text" name="ticketType" value="{{ .TicketType }}"  /><br />
      <label> Status </label><input type="text" name="status" value="{{ .Status }}"  /><br />
      <label> CreatedAt </label><input type="text" name="createdAt" value="{{ .CreatedAt }}"  /><br />
      <label> Description </label><input type="text" name="description" value="{{ .Description }}"  /><br />
      <label> Finder </label><input type="text" name="finderID" value="{{ .FinderID }}"  /><br />
      <label> Assigned To </label><input type="text" name="assignedTo" value="{{ .AssignedTo }}"  /><br />
      <label> Priority </label><input type="text" name="priority" value="{{ .Priority }}"  /><br />
      <input type="submit" value="Update Ticket" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}