{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>TicketID</td>
        <td>Title</td>
        <td>Type</td>
        <td>Status</td>
        <td>Date Created</td>
        <td>Ticket Number</td>
        <td>Description</td>
        <td>Finder</td>
        <td>Assigned To </td>
        <td>Priority </td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .TicketID }}</td>
        <td>{{ .Title }}</td>
        <td> {{ .TicketType }} </td>
        <td>{{ .Status }} </td> 
        <td>{{ .CreatedAt }} </td> 
        <td>{{ .TicketNumber }} </td> 
        <td>{{ .Description }} </td> 
        <td>{{ .FinderID }} </td> 
        <td>{{ .AssignedTo }} </td> 
        <td>{{ .Priority }} </td> 
        <td><a href="/show?ticketID={{ .TicketID }}">View</a></td>
        <td><a href="/edit?id={{ .TicketID }}">Edit</a></td>
        <td><a href="/delete?id={{ .TicketID }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}
