{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Ticket</h2>
   <div class="container">  
    <form method="POST" action="newTicket">
      <label> Title </label><input type="text" name="title" /><br />
      <label> Type </label><input type="text" name="type" /><br />
      <label> Description </label><input type="text" name="description" /><br />
      <label> Assigned To </label><input type="text" name="assignedTo" /><br />
      <label> Priority </label><input type="text" name="priority" /><br />
      <input type="submit" value="Submit Ticket" />
    </form>
    </div>
  {{ template "Footer" }}
{{ end }}