{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <b><h2> Viewing Ticket {{ .ticket.TicketID }} - {{ .ticket.Title }}</h2></b>
    <p> <b>Ticket Type:</b> {{ .ticket.TicketType }}<p>
    <p> <b>Status:</b> {{ .ticket.Status }}<p>
    <p> <b>Date Created:</b> {{ .ticket.CreatedAt }}<p>
    <p> <b>Description:</b> {{ .ticket.Description }}<p>
    <p> <b>Finder:</b> {{ .ticket.FinderID }}<p>
    <p> <b>Assigned To:</b> {{ .ticket.AssignedTo }}<p>
    <p> <b>Priority:</b> {{ .ticket.Priority }}<p>
    </br >
    <hr>
    <h2><b>Comments</b></h2>
    <p style="color:red;"><b> {{ .commentError }} </b></p>
    {{ range .comments }}
      <p> <b>Comment ID:</b> {{ .CommentID }} </p>
      <p> <b>Time:</b> {{ .TimeStamp }} </p>
      <p> <b>Comment From:</b> {{ .UserID }} </p>
      <p> <b>Comment:</b> {{ .Description }} </p>
      <hr>
    {{ end }}
    <h2>Add Comment</h2>  
    <form method="POST" action="addComment">
      <label> Comment </label><input type="text" name="description" /><br />
      <input type="submit" value="Save Comment" />
    </form>
  {{ template "Footer" }}
{{ end }}